STRINGTABLE
BEGIN
myPrefix_onemixed_1 "one-mixed translated"
myPrefix_twomixed_2 "two-mixed-non-translated"
myPrefix_threemix_3 "three-mixed non translated"
myPrefix_fourmixe_4 "four-mixed-translated"
myPrefix_fivemixe_5 "five mixed translated"
myPrefix_sixmixed_6 "six mixed outstanding"
END
